@import './node_modules/mini.css/dist/mini-default.min.css';

$text-color: #F2F4F8;

.vue-typer .custom.char {
  color: $text-color;
}

body {
  background-color: #A7AECC;
  color: $text-color
}

.center {
  float: none;
  margin: 0 auto;
}

.round {
  border-radius: 50%;
}

.profile-image {
  text-align: center;
}

.vertical-rule {
  border-left: 1px solid #000;
  height: 500px;
}

.ext-link {
  font-size: 2rem;
}

.link-span {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}
